*.iml
.gradle
.gradle-local/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/AndroidProjectSystem.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr
out/
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

.kotlin
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/raj.xcuserdatad/UserInterfaceState.xcuserstate
